body{
    /* background-color: white; */
}
.about-div{
    margin-top: 25vh;
    color:white;
    /* background-color: blue; */
}
.introduction-div{
    width: 50%;
    margin:auto;
    /* background-color: red; */
}
.introduction-div h2{
    width: 40%;
    font-size: 3em;
    margin-bottom: 50px;
    position: relative;
}
.introduction-div h2::after{
    content:"";
    width: 100%;
    height: 5px;
    background-color:rgb(248, 175, 2);
    position: absolute;
    bottom: -10px;
    left:0;
}
.introduction-div p{
    font-size: 1.3em;
    line-height: 1.5;
}
.introduction-div a{
    color:rgba(0, 150, 150)
}