.admin-page-wrapper{
    width:60%;
    height: 80vh;
    margin:auto;
    margin-top:5%;
    padding:20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, .5);
    background-color: rgb(47, 47, 47);
    color:white;
}
.carDetails, .carSpecs{
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.carDetails input, .carSpecs input{
    width: 50%;
    font-size: 1em;
    border-radius: 5px;
    border:none;
    padding:10px 15px;
    transition: all 350ms;
}
.carDetails input:focus, .carSpecs input:focus{
    outline:none;
    box-shadow: 0 0 10px white;
}
.carSpecs{
    height: 48vh;
    margin-top: 50px;
}
.carSpecs input:last-of-type{
    font-size: .8em;
}
.submit-btn{
    width: 55%;
    margin:15px 0;
    padding:8px 15px;
    border-radius: 8px;
    border:none;
    font-size: 1.2em;
    cursor: pointer;
    background-color: rgb(248, 175, 2);
    color:white;
    transition:all 250ms;
}
.submit-btn:hover{
    background-color: rgb(225, 165, 25);
}
.submit-btn:active{
    background-color: rgb(200, 147, 26);
}