@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500&display=swap');
*{
  padding:0;
  margin:0;
}
::root{
  --orange:rgb(248, 175, 2);
  --gray:rgb(47, 47, 47);
  --blackColor:rgb(29, 29, 29);
}
body{
  font-family: 'Hanken Grotesk', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color:rgb(29, 29, 29); 
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: rgb(248, 175, 2);
}
/* Navbar-i */
.navbar{
  height:8vh;
  width: 100vw;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  z-index: 2;
  color:white;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-bottom: 1px solid white;
}
.sidebar{
  display: none;
}
.nav-title{
  font-weight: 500;
  margin-left: 2%;
}
.navbar-ul{
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right:2%;
}
.navigation-links{
  text-decoration:none;
  color:white;
  transition: all 400ms;
}
.navigation-links:hover{
  filter:drop-shadow(0 0 5px black)
}
.sign-in-link{
  border:1px solid white;
  border-radius: 5px;
  padding:10px 15px;
  color:white;
  text-decoration: none;
  transition: all 250ms;
}
.sign-in-link:hover{
  background-color: rgba(255, 255, 255, .2);
}
.sign-out-btn{
  background: none;
  border:none;
  cursor: pointer;
}
#name-more-options-wrapper{
  margin-top: 3.5px;
}
.name{
  position: relative;
  font-size: 1em  ;
  top: -1px;
}
.caret-icon{
  width: 20px;
  display: inline;
  vertical-align: top;
  transform: rotate(180deg);
  cursor: pointer;
  transition: 450ms;
}
.caret-active{
  transform: rotate(0deg);
}
.more-options{
  width: 160px;
  height: 0;
  overflow:hidden;
  position:absolute;
  top: 30px;
  left:-25px;
  margin-right: 10px;
  background-color: white;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 350ms;
}
.active-options{
  height: 140px;
  padding:10px 10px;
}
.more-options a{
  padding:5px 2px;
  border-bottom:1px solid black;
  font-size: .9em;
  transition: all 250ms;
}
.more-options a:hover{
  background-color: rgba(0, 0, 0, .2);
}
/* Linki ne te majten e navbarit */
.link-to-home{
  text-decoration: none;
  color:White;
}
.link-to-home:hover{
  filter:drop-shadow(0 0 10px black)
}
/* Butoni per Sidebar */
.hamburger-btn{
  height: 30px;
  width: 35px;
  margin-right: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.hamburger-btn div{
  height: 4px;
  width: 100%;
  background-color: white;
}
.sign-out-btn{
  margin-right: 20px;
}
.sign-out-btn img{
  width: 30px;
}
/* Stilet per pjesen tjeter t faqes */
.home-div{
  position: relative;
}
.images-wrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.home-images{
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  opacity: 0;
  transition: all 450ms;
}
.active-image{
  opacity: 1;
}
/* Stilet e kategoris t kereve */
.car-categories-wrapper{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin:auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.car-btn{
  background: none;
  border:none;
  font-size: 2em;
  cursor: pointer;
  color:white;
}
.active-btn{
  border-bottom:3px solid red;
}
/* Cars Section*/
.cars-section{
  height: auto;
  width: 90vw;
  margin:auto;
  margin-bottom: 10vh;
  padding:3% 0;
  border-radius: 10px;
  background: rgb(47, 47, 47);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cars-div{
  width: 20%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  color:White;
  background-color:rgb(29, 29, 29);
  padding:15px 15px;
  margin:20px 10px;
  border-radius: 10px;
}
.cars-details{
  height: 50%;
  margin-left: 10px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/*View Details  */
.cars-details a{
  width: 50%;
  color:white;
  text-decoration:none;
  background-color: rgb(231, 28, 32);
  padding:5px 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms;
}
.cars-details a:hover{
  background-color: rgb(205, 30, 33);
}
.cars-details a:active{
  background-color: rgb(195, 34, 37);
}
/* Stilet e footer */
footer{
  height:15vh;
  background-color: rgb(47, 47, 47);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-info-div{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10%;
  color:white;
}
.contact-info-div a{
  color:white;
}

@media (max-width:1280px) and (max-height:1024px){
  .navbar-ul{
    width: 35%;
  }
  .cars-div{
    height: 30vh;
  }
}
/* Nest Hub Max */
@media (max-width:1280px) and (max-height:800px){
  .home-images{
    width: 100vw;
  }
  .cars-div{
    height: 40vh;
  }
}
/* iPad Pro 12 inch */
@media (max-width:1024px) and (max-height:1366px){
  html{
    overflow-x:hidden;
  }
  .navbar{
    height: 6vh;
  }
  .navbar-ul{
    width: 40%;
  }
  .images-wrapper{
    height: 50vh;
  }
  .cars-div{
    width: 25vw;
    height:25vh;
  }
}

/* Nest Hub */
@media (max-width: 1024px) and (max-height:600px){
  .navbar{
    height: 7vh;
  }
  .navbar-ul{
    width: 40%;
  }
  .car-btn{
    font-size: 1.5em;
  }
  .cars-div{
    width: 25%;
    height: 50vh;
  }
  .cars-div img{
    width: 200px;
    margin:auto;
  }
}
/* Surface Pro 7 */
@media (max-width: 912px) and (max-height:1368px){
  .navbar{
    width: 100vw;
    height: 5vh;
  }
  .navbar-ul{
    width: 45%;
  }
  .images-wrapper{
    height: 50vh;
    width: 102vw;
  }
  .cars-div{
    height: 98%;
    width: 30%;
    margin-top:0;
  }
}
/* iPad Pro 11 inch */
@media (max-width:834px) and (max-height:1194px){
  .navbar{
      height: 8vh;
  }
  .car-categories-wrapper{
    width:60vw;
  }
  .cars-div{
    height: 25vh;
  }
}
/* iPad Air */
@media (max-width:820px) and (max-height:1180px){
  .navbar{
    height: 6vh;
  }
  .navbar-ul{
    width: 45%;
  }
}
@media (max-width:810px){
  .navbar-ul{
    width: 45%;
  }
}
/* iPad Mini */
@media (max-width:768px) and (max-height:1024px){
  html, body{
    overflow-x: hidden;
  }
  .navbar-ul{
    display: none;
  }
  .hamburger-btn{
    display: flex;
  }
  .hamburger-btn div{
    display: flex;
  }
  .car-categories-wrapper{
    width: 75%;
  }
  .cars-div{
    height: 30vh;
  }
  /* Sidebar */
  .sidebar{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    right:-100vw;
    z-index:2;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 300ms;
  }
  .active-sidebar{
    right:0;
  }
  .close-sidebar-btn{
    width: 30px;
    background:none;
    border:none;
    margin-left:8px;
    margin-top: 18px;
  }
  .sidebar-ul{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    margin-top: 35%;
  }
  .sidebar-ul li{
    text-align: center;
    background-color: rgba(255, 255, 255, .2);
    padding:20px 0;
  }
  .sidebar-ul a{
    color:white;
    font-size: 1.1em;
    text-decoration: none;
  }
  /* Opsionet e Admin-it per sidebar */
  .sidebar-more-options{
    width: 200px;
    height: 0px;
    font-size: .8em;
    overflow: hidden;
    position: absolute;
    top:0px;
    left: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 400ms;
  }
  .active-sidebar-more-options{
    height: 150px;
    padding:10px 10px;
    top:-170px;
  }
  .sidebar-more-options a{ 
    padding:5px 10px;
    border-bottom: 1px solid black;
    transition: all 250ms;
  }
  .sidebar-more-options a:hover{
    background-color: rgba(0, 0, 0, .3)
  }
  /*  */
  .sign-in-sidebar-div{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    background-color: rgba(0, 0, 0, .2);
  }
  .sign-in-link{
    margin-left: 10px;
  }
  #sidebar-name-more-options-wrapper{
    width: 300px;
  }
  .sidebar-name{
    font-size: 1.5em;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }
  .sidebar-more-options-btn{
    background: none;
    border:none;
    font-size: 1.5em;
    color:white;
  }
  .sidebar-more-options-btn label{
    position: inline;
    vertical-align: middle;
    cursor: pointer;
  }
}
/* Surface Duo */
@media (max-width:540px) and (max-height:720px){
  .navbar{
    height: 8vh;
    width: 100vw;
  }
  .car-categories-wrapper{
    width: 70%;
  }
  .car-btn{
    font-size: 1.5em;
  }
  .cars-div{
    width: 40vw;
    height: 40vh;
  }
  .sidebar-ul{
    height: 35%;
  }
}
/* iPhone 13/13 Pro Max */
@media (max-width:428px) and (max-height:926px){
  .car-categories-wrapper{
    width: 90%;
    font-size: .9em;
  }
  .cars-div{
    width: 50vw;
  }
}
/* iPhone XR */
@media (max-width:414px) and (max-width:896px){
  .home-images{
    width: 200vw;
  }
  .home-images:nth-of-type(2){
    width: 150vw;
    right: -15vw;
  }
  .home-images:last-of-type{
    width: 150vw;
    left: -40vw;
  }
  /* Butonat per mi ndru keret */
  .car-categories-wrapper{
    width: 90%;
  }
  /* div-at e kereve */
  .cars-div{
    width: 45vw;
    height: 30vh;
  }
  .view-details-btn{
    width: 100%;
    background-color: orange;
    font-size: .9em;
  }
  .contact-info-div{
    margin-right: 10px;
  }
  .sign-in-link{
    width: 50px;
    margin-left:10px;
  }
}
/* iPhone 12/13 Pro */
@media (max-width:390px) and (max-height:844px){
  .cars-div{
    width: 50vw;
  }
}
/* S20+ */
@media (max-width:384px) and (max-height:854px){
  .view-details-btn{
    font-size: .8em;
  }
}
/* iPhone 12/13 Mini */
@media (max-width:375px) and (max-height:812px){
  .sidebar-ul {
    height: 35%;
  }
  
}
/* S10/S10+ */
@media (max-width:360px){
  .sign-in-link{
    width: 55px;
  }
  .car-btn{
    font-size: 1.7em;
  }
  .view-details-btn{
    font-size: .8em;
  }
  .cars-div{
    height: 35vh;
  }
}