.sign-in-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    background-color: rgb(47, 47, 47);
}
.sign-in-wrapper h2{
    font-size: 2.5em;
    margin-bottom: 70px;
}
.sign-in-form{
    height: 45%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
}
.sign-in-form input{
    width: 50%;
    font-size: 1em;
    padding:10px 15px;
    border:none;
    border-radius: 8px;
    transition: all 400ms;
}
.sign-in-form input:focus{
    outline:none;
    /* background-color: red; */
    box-shadow: 0 0 8px rgba(255, 255, 255, .8);
}
.error{
    color:rgb(241, 41, 65);
}
.sign-in-btn{
    width: 54%;
    font-size: 1em;
    padding: 10px 15px;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(248, 175, 2);
    color:white;
    transition: all 250ms;
}
.sign-in-btn:hover{
    background-color: rgb(225, 165, 25);
}
.sign-in-btn:active{
    background-color: rgb(200, 147, 26);
}
/* iPad Pro */
@media (max-width:1024px) and (max-height:1366px){
    .sign-in-form{
        width: 80%;
        height: 40%;
        font-size: 1.2em;
    }
}
/* Surface Pro 7 */
@media (max-width:912px) and (max-height:1368px){
    .sign-in-form{
        width: 80%;
        height: 40%;
        font-size: 1.5em;
    }
    .sign-in-form input{
        width: 60%;
    }
}
/* iPad Mini */
@media (max-width:834px) and (max-height:1194px){
    .sign-in-form{
        /* height: 80%; */
        font-size: 1.2em;
    }
}
/* Surface Duo */
@media (max-width:540px) and (max-height:720px){
    .sign-in-wrapper h2{
        margin-bottom: 100px;
    }
    .sign-in-form{
        height: 50%;
        width: 95%;
    }
}
/* iPhone 12/13 Pro Max*/
@media (max-width:428px) and (max-height:926px){
    .sign-in-form{
        width: 100%;
    }
    .sign-in-form input{
        width: 80%;
    }
}