.interior-wrapper{
    width: 100vw;
    height: 80vh;
    background-color: red;
    margin:auto;
    margin-top: 12vh;
    color:white;
}
iframe{
    background-color: rgb(29, 29, 29);
}
.sirv-spin-button.fullscreen {
    background-color: red;
    display: none;
}
.fullscreen{
    display: none;
}