.users-messages-reader-wrapper{
    width: 100vw;
    height: 100vh;
    margin-top: 8vh;
    background-color: rgb(47, 47, 47);
    color:white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.users-messages-reader-wrapper h2{
    font-size: 2em;
    position: absolute;
    top: 20px;
}
.messages-wrapper{
    height: 80vh;
    width: 50%;
    overflow-y: scroll;
    padding:15px 10px;
    background-color: rgb(29, 29, 29);
    border-radius: 8px;
}
.messages-wrapper::-webkit-scrollbar{
    width: 10px;
}
.messages-wrapper::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: rgb(248, 175, 2);
    border-radius: 8px;
}
.messages{
    min-height: 20%;
    max-height: fit-content;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}
.user-info{
    padding:5px 5px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.messages p{
    margin-left:5px;
}
.message{
    padding:5px 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}
.messages a{
    color:rgba(0, 150, 150)
}
/* iPad Pro 12 inch */
@media (max-width:1024px) and (max-height:1366px){
    .messages-wrapper{
        width: 80%;
    }
}
/* Surface Pro 7 */
@media (max-width:912px) and (max-height:1368px){
    .users-messages-reader-wrapper{
        margin-top: 5vh;
        justify-content: flex-start;
    }
    .messages-wrapper{
        width: 80vw;
        margin-top: 10vh;
    }
}
/* Surface Duo */
@media (max-width:540px) and (max-height:720px){
    .users-messages-reader-wrapper h2{
        font-size: 1.8em;
        top: 4vh;
    }
    .messages-wrapper{
        margin-top: 15vh;
    }
}
/* iPhone 13/13 Pro Max */
@media (max-width:428px) and (max-height:926px){
    .messages-wrapper{
        width: 95%;
    }
}